.dropdown-container{
    position: relative;
}

.dropdown-container ul{
    position: absolute;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.dropdown-container:hover ul, .dropdown-container ul.show{
    max-height: 400px;
}