*{
    scroll-behavior: smooth;
}

body{
    background: rgb(101, 149, 238, .55);
    font-family: 'Bruno Ace SC', cursive;
    scroll-behavior: smooth;
}

.header{
    padding: 1rem;
}

.headerPrincipal-titulo{
    font-size: 2rem;
    font-weight: bold;
    color: #0d0d0e;
    width: 50%;
}

.headerPrincipal-nav-link{
    margin: 10px;
    width: 100%;
    text-decoration: none;
    color: #3e4041;
}

.headerBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerBar nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
    margin-top: 1rem;
}

.tituloHeader{
    font-size: 1.2rem;
}

.tituloHeader:hover{
    transform: scale(1.2);
    color: rgba(38, 49, 63, 0.705);
    font-weight: bold;
    cursor: pointer;
}

.headerBar:hover nav, .headerBar nav.show{
    max-height: 500px;
}
