.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.proyectosTitulo{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.imgProyectos{
    margin-top: 2rem;
    width: 35%;
}

.imgProyectos:hover{
    opacity: 80%;
    transform: scale(1.1);
    transition: 300ms;
}

.tituloProyecto{
    margin-top: 1rem;
    padding: 5px;
}

.pres {
    display: none;
}

.pres p{
    font-size: 15px;
    margin: 10px;
    text-align: justify;
    color: #000000; 
    padding: 30px;
    overflow: hidden;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.read-more-btn {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(5, 31, 43);
  }
  
.read-more-btn:active {
    transform: scale(1.3);
}
  
.showText {
    display: block;
}

.presForm {
    display: none;
}

.presForm p{
    font-size: 15px;
    margin: 10px 30px;
    text-align: justify;
    color: #000000; 
    padding: 30px;
    overflow: hidden;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.read-more-btn_Form {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(5, 31, 43);
  }
  
.read-more-btn_Form:active {
    transform: scale(1.3);
}

.showTextForm {
    display: block;
}