.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.proyectosTitulo{
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-decoration: underline rgba(58, 59, 71, 0.541);
}

.imgProyectos{
    margin-top: 2rem;
    width: 35%;
}

.imgProyectos:hover{
    opacity: 80%;
    transform: scale(1.1);
    transition: 300ms;
}

.tituloProyecto{
    margin-top: 1rem;
    padding: 5px;
}

.contenedorProyecto{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorProyecto ul{
    position: relative;
    max-height: 10px;
    overflow: hidden;
    transition: all 1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contenedorProyecto p{
    width: 350px;
    padding: 20px;
}

.contenedorProyecto p{
    color: black;
}

.tituloProyecto{
    font-size: 1.2rem;
}

.tituloProyecto:hover{
    transform: scale(1.2);
    color: rgba(38, 49, 63, 0.705);
    font-weight: bold;
}

.contenedorProyecto:hover ul, .contenedorProyecto ul.show{
    max-height: 500px;
}


@media screen and (min-width: 680px){

    .proyectosContenedor{
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .contenedorProyecto p{
        width: 230px;
    }
    
}